#taskTitile {}
#taskBody {}
	body 
{
  background-color: #666;
  margin: 15px 25px;
  font-family:  Arial;
  color:#393838;
}
	#content 
{
  background-color: #fff;
  border: 10px solid #ccc;
  padding: 10px 10px 20px 10px;
}

	#notification 
{
  border: 5px solid #9c9;
  background-color: #cfc;
  padding: 5px;
  margin: 10px 0;

}
a:link {color: #f96b6b; text-decoration: none;}
a:visited{color: #fa8080;text-decoration: none;}
a:active{color: #fa3838;text-decoration: none;}
a:hover{color: #fa3838; text-decoration: none;}
hr {color: #ffffff; width=50%; text-align:center;}