
     
              Зарегестрируйтесь, пожалуйста! <br>
              <% form_for @user do |f| %>

              <div>Логин: 
              <div><%= f.text_field :login %></div>
              </div>

              <div>Пароль:
              <div><%= f.text_field :password %></div>
              </div>

              <div>Ваш email:
              <div><%= f.text_field :email %></div>
              </div>

              <div>
              <div><%= f.submit 'Ок'%></div>
              </div>
              
              

              <% end %>
